@import'fonts.css';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background: radial-gradient(52.52% 39.17% at 50% 66.95%, #F3F3F3 0%, #FFFFFF 100%);

}


ul {
    list-style: none;
}

a { 
    text-decoration: none;
}

h1 {
    font-family: "Poppins";
}

h3{
    font-family: 'Poppins';
    color: #4F4F4F;

}

.container {
    max-width: 961px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}






/* header start */

.header{
    background: #926FF6;
}


.nav{
    background: #926FF6;

}

.list{
    display: flex;
}

.link {
    padding: 50px 16px;
    display: inline-block;
    color: white;
   font-size: 12px;
}


.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 400px;
}


.header_title{
    font-size: 62px;
}

.header_txt{
    font-size: 12px;
    color:  #FFE074;
    
}
.header_txt_2{
    font-size: 17px;
    margin-bottom: 43px;
}


/* .key{
    width: 38px;
    height: 38px;
    background: #926FF6;
    border-radius: 50%;
    border-color: #FFFFFF;
    border: 2px solid #FFFFFF;
 position: relative;
 margin: 0 auto;
} */
.key{
        width: 38px;
        height: 38px;
        margin: 0 auto;
        border-radius: 50px;
        border: 2px solid;
        border-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    
}
/* .img{
    position: absolute;
    bottom: 11px;
    left: 11px;
} */

/* header end */





/* main start */


.video{
    margin-top: 164px;
    
}
.video__cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 105px;
}


.video__desc{
    max-width: 420px;
}

.section__banner{
    width: 100%;
}

.video_txt{
    color:  #FFAE00;
    font-size: 13px;
}

.video_title{
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 20px;
}

.video_txt_2{
    font-size: 16px;
    margin-bottom: 39px;
}




.play_video{
    display: flex;
    align-items: center;
}


.logo_1{
    width: 30px;
}

.span{
   
    color: #F3849F;
    text-transform: uppercase;
}



.tables{
    display: flex;
    margin: 0 auto;
    background: white;
    padding: 73px 33px;
    margin-bottom: 179px;
}

.table{
    text-align: center;
}



.page{
    margin-top: 17px;
    margin-bottom: 6px;
}



.link_2 {
    padding: 0 26px;
    display: inline-block;
    color: #828282;
   font-size: 12px;
   margin-top: 15px;
   transition: 500ms;
}

.link_2:hover{
    background: #F3849F;
    border-radius: 10px;
    color: white;
}



.cat_1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}




.main_bottom{
    background: #F7EEFF;
    margin-top: 215px;
    padding: 114px 0;
}

.cards{
    display: flex;
}
.card{
    max-width: 290px;
    width: 100%;
}

.main_bottom_txt{
    text-align: center;
    margin-bottom: 15px;
    color: #FFAE00;
    font-weight: bold;
    font-size: 12px;
}
.main_bottom_title{
    text-align: center;
    margin-bottom: 58px;
    font-weight: bold;
    color: #4F4F4F;
    font-size: 24px;
}


.main_bottom_txt_1{
    margin-top: 27px;
    margin-bottom: 10px;
    color: #F3849F;
    font-size: 10px;
    font-weight: bold;
}

.main_bottom_txt_3{
    margin-top: 27px;
    margin-bottom: 10px;
    color: #926FF6;
    font-size: 10px;
    font-weight: bold;
}

.main_bottom_txt_2{
    font-size: 13px;
}

.main_bottom_txt_4{
    margin-top: 27px;
    margin-bottom: 10px;
    color: #79CFFF;
    font-size: 10px;
    font-weight: bold;
}



/* main end */




/* footer start */
.footer {
    background: #333333;
    padding-top: 51px;
    padding-bottom: 59px;
}

.footer_p {
    color: #fff;
    text-align: center;
    margin-bottom: 19px;
}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}
/* footer end */